In [9]:
import numpy as np
import pandas as pd
import xlrd
from sklearn.linear_model import LinearRegression
import random
from sklearn.preprocessing import StandardScaler
from sklearn.cross_validation import train_test_split
from sklearn.metrics import accuracy_score
import pickle
import datetime as dt

In [10]:
data = pd.read_excel('AirQualityUCI.xlsx')
data.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2004-03-10,18:00:00,2.6,1360.00,150,11.881723,1045.50,166.0,1056.25,113.0,1692.00,1267.50,13.60,48.875001,0.757754
1,2004-03-10,19:00:00,2.0,1292.25,112,9.397165,954.75,103.0,1173.75,92.0,1558.75,972.25,13.30,47.700000,0.725487
2,2004-03-10,20:00:00,2.2,1402.00,88,8.997817,939.25,131.0,1140.00,114.0,1554.50,1074.00,11.90,53.975000,0.750239
3,2004-03-10,21:00:00,2.2,1375.50,80,9.228796,948.25,172.0,1092.00,122.0,1583.75,1203.25,11.00,60.000000,0.786713
4,2004-03-10,22:00:00,1.6,1272.25,51,6.518224,835.50,131.0,1205.00,116.0,1490.00,1110.00,11.15,59.575001,0.788794

In [19]:
xdf = pd.DataFrame(data.ix[:,0:1])
xdf.head()
xdf['Date'] = pd.to_datetime(xdf['Date'])
xdf['Date'] = xdf['Date'].map(dt.datetime.toordinal)
xdf.tail()

        Date
9352  732040
9353  732040
9354  732040
9355  732040
9356  732040

In [12]:
ydf = data.ix[:,2:3]
ydf.head()

   CO(GT)
0     2.6
1     2.0
2     2.2
3     2.2
4     1.6

In [13]:
X_train , X_test , y_train , y_test = train_test_split(xdf,ydf,test_size=0.2)

In [14]:
sc = StandardScaler()

sc.fit(X_train)

X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

X_train_std[1:3]

array([[ 0.8950958 ],
       [ 0.22138994]])