In [2]:
import numpy as np
import pandas as pd
import pickle
from sklearn import neighbors,cross_validation,metrics

In [3]:
data = pd.read_csv('glass.data')
data.head()

   1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.00.1  1.1
0  2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83   0.0    0.00    1
1  3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78   0.0    0.00    1
2  4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22   0.0    0.00    1
3  5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07   0.0    0.00    1
4  6  1.51596  12.79  3.61  1.62  72.97  0.64  8.07   0.0    0.26    1

In [4]:
data.shape

(213, 11)

In [9]:
df = pd.DataFrame(data)
df_columns = ['Id','RI','Na','Mg','Al','Si','K','Ca','Ba','Fe','Type of glass']
glass_names = ['building_windows_float_processed',
               'building_windows_non_float_processed',
               'vehicle_windows_float_processed',
               'vehicle_windows_non_float_processed',
               'containers',
               'tableware',
               'headlamps'
              ]
df.columns = df_columns
df.head(2)

   Id       RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type of glass
0   2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0              1
1   3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0              1

In [14]:
X = df.ix[:,1:10]
y = df.ix[:,10]
X_std = X.as_matrix()
y_std = y.as_matrix()

In [15]:
X_train , X_test , y_train , y_test = cross_validation.train_test_split(X_std,y_std,test_size = 0.2)

In [29]:
clf = neighbors.KNeighborsClassifier(n_neighbors=15)
clf.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=15, p=2,
           weights='uniform')

In [30]:
y_pred = clf.predict(X_test)

In [31]:
metrics.accuracy_score(y_test,y_pred)

0.62790697674418605